.filter-list {
  z-index: 100;
  .filter-child-list {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: 0.3s;
  }
  .open {
    .filter-child-list {
      @apply py-3;
      max-height: 200px;
    }
  }
}

.filter-button {
  @apply items-center flex p-2 font-normal rounded-md border border-crm-gray-350 ml-3 bg-crm-gray-200;
  .clear-filter {
    border-radius: 100px;
    padding: 2px;
    position: absolute;
    display: none;
    top: -5px;
    right: -5px;
    background-color: #912308;
  }

  &.filtered {
    border: 1px solid rgb(40, 132, 114);
    background-color: rgba(49, 165, 142, 0.475);

    .clear-filter {
      display: block;
    }
  }
}
